<nb-card style="max-width: 80%; margin: auto;">
    <nb-card-header [nbSpinner]="false">
        {{ this.data.title }}
        <ngx-flag-picker style="margin-left: 96%;"
            [selectedCountryCode]="selectedCountryCode"
            [countryCodes]="countryCodes"
            (changedCountryCode)="changeSelectedCountryCode($event)"
            [showFlags]="true" 
            [showLabels]="false"
        >
        </ngx-flag-picker>
    </nb-card-header>
    <nb-card-body [nbSpinner]="false">
        {{ this.data.description }}
    </nb-card-body>
    <nb-card-footer [nbSpinner]="false">
        For further reading, visit this <a [href]="this.data.link">link</a>
    </nb-card-footer>
  </nb-card>