<nb-layout>

    <nb-layout-header fixed>
        <a href="#" (click)="toggle()">
            <nb-icon icon="menu-outline"></nb-icon>
        </a>
    </nb-layout-header>
  
    <nb-sidebar>
        <button nbButton [nbPopover]="addForm" nbPopoverPlacement="bottom" size="tiny" *ngIf="this.collapsed; else fullWidthButton"><nb-icon icon="plus"></nb-icon></button>
        
        <ng-template #fullWidthButton>
            <button nbButton fullWidth [nbPopover]="addForm" nbPopoverPlacement="bottom"><nb-icon icon="plus"></nb-icon>Add Symbol</button>
        </ng-template>

        <ng-template #addForm>
            <nb-card>
                <nb-card-body>
                    <form #f="ngForm" (ngSubmit)="addSymbol(f)">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <br/>
                            <input type="text" nbInput required name="name" ngModel>
                        </div>
                        <div class="form-group">
                            <label for="acronym">Acronym</label>
                            <br/>
                            <input type="text" nbInput required name="acronym" ngModel>
                        </div>
                        <br/>
                        <button nbButton>Add</button>
                    </form>
                </nb-card-body>
            </nb-card>
        </ng-template>

        <nb-menu tag="sidebar-menu" [items]="items"></nb-menu>
    </nb-sidebar>
  
    <nb-layout-column>
        <app-main-panel *ngIf="this.items.length > 0" [symbol]="this.symbol"></app-main-panel>
        <!-- <router-outlet></router-outlet> -->
    </nb-layout-column>
  
    <nb-layout-footer fixed class="colored-column-basic">

    </nb-layout-footer>
  
</nb-layout>