<nb-card>
    <nb-card-header>
      News about {{ this.symbol }}
      <nb-icon icon="sync" (click)="refreshNews()" right style="margin-left: 98%;"></nb-icon>
    </nb-card-header>
    <nb-card-body [nbSpinner]="false">

        <label class="search-label" for="search">Search:</label>
        <input type="text" nbInput [nbFilterInput]="dataSource" id="search" placeholder="Search term...">
    
        <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">
    
          <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
          <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>
    
          <ng-container *ngFor="let column of allColumns; let index = index" [nbTreeGridColumnDef]="column">
            <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
              {{ allColumnHeaders[column] }}
            </th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row" (click)="articleClicked(row.data);" style="cursor: pointer;">
              <div *ngIf="column === 'score'; else defaultCell">
                <div *ngIf="row.data[column] != null; else loadingScore;">
                  <nb-icon icon="star" [ngStyle]="{'color': getColorFromScore(row.data[column])}"></nb-icon>
                  {{ (row.data[column] | percent:'.2') || '-' }}
                </div>

                <ng-template #loadingScore>
                  <nb-icon icon="sync" (click)="refreshScores()"></nb-icon>
                </ng-template>
              </div>
              <ng-template #defaultCell>
                {{ row.data[column] || '-' }}
              </ng-template>
            </td>
          </ng-container>
    
        </table>
    </nb-card-body>
</nb-card>